.simple-table {
    position: relative;
    .table-thead-body {
        position: absolute;
        width: 100%;
        overflow-y: scroll;
        left: 0;
        z-index: 2;
        table {
            margin: 0;
        }
    }
    .table-thead-body::-webkit-scrollbar{ opacity: 0; filter: alpha(opacity=0);}
    .table-body {
        max-height: 400px;
        overflow-x: hidden;
        position: relative;
        z-index: 1;
    }

    .dropdown-td {
        width: 100%;
    }
}
