<div class="simple-table">
    <div class="table-thead-body">
        <table>
            <thead>
                <tr>
                    <th class="min-td">序号</th>
                    <th ng-repeat="item in table.tableConfig" 
                        width="{{ ::item.width }}"
                        ng-bind="item.name">
                    </th>
                </tr>
            </thead>
        </table>
    </div>        
    <div class="table-body">
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="min-td">序号</th>
                    <th ng-repeat="item in table.tableConfig" 
                        width="{{ ::item.width }}"
                        ng-bind="item.name">
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="item in table.tableData">
                <tr ng-click="table.showDetail(item)">
                    <td ng-bind="$index+1"></td>
                    <td ng-repeat="thead in table.tableConfig" 
                        width="{{ ::item.width }}"
                        ng-bind-html="item[thead.key]"></td>
                </tr>
                <tr ng-if="item.isShow">
                    <td colspan="{{table.tableConfig.length+1}}"
                        ng-include="item.templatesUrl"></td>
                </tr>
            </tbody>
        </table>
    </div>        
</div>
    
