<input class="form-control" type="text" required
       placeholder="{{ ::complete.placeholder }}"
       ng-model="complete.keywords"
       ng-change="complete.change()"
       ng-focus="complete.showPopup()"
       ng-blur="complete.hidePopup()">
<div class="form-popup" ng-show="complete.isPopup">
    <ul ng-if="complete.itemList.length > 0">
        <auto-complete-item ng-repeat="item in complete.itemList"
                            type="complete.type"
                            key="complete.key"
                            item="item"
                            on-select="complete.selectItem(item)"></auto-complete-item>
    </ul>
    <ul ng-if="!complete.itemList">
        <li>
            加载中……
        </li>
    </ul>
    <ul ng-if="complete.itemList <= 0">
        <li>
            暂无结果
        </li>
    </ul>
</div>
