<input class="form-control" type="text" required
       placeholder="{{ ::complete.placeholder }}"
       ng-model="complete.keywords"
       ng-change="complete.query()"
       ng-model-options="{updateOn:'default blur',debounce:{default:500,blur:0}}">
<div class="form-popup" ng-show="complete.isPopup">
    <ul>
        <cs-auto-complete-item type="complete.type"
                               item-list="complete.itemList"
                               selected-item="complete.selectedItem"
                               is-popup="complete.isPopup"></cs-auto-complete-item>
    </ul>
</div>
