.menu-selector {
    position: relative;   
    z-index: 4;

    input {
        background: #fff !important;
    }

    .dropdown {
        position: absolute;
        left: 0;
        top: 100%;
        width: 300%;
        .fa {
            float: right;
            margin-top: 6px;
        }
        ul {
            padding: 5px 0;
            width: 33.333%;
            float: left;
            max-height: 260px;
            overflow-x: hidden;
            li {
                padding: 0 10px;
                line-height: 25px;
                cursor: pointer;
                &:hover {
                    background: #eee;
                }            
            }
            li.active {
                background: #eee;
            }
        }
    }     
}    
