<div class="menu-selector" ng-mouseleave="menu.isShow=false">
    <div class="input-group">
        <input readonly type="text" class="input-group form-control" 
                                    placeholder="{{menu.placeholder}}"
                                    value="{{menu.selectedMenu | menuSelector}}"
                                    ng-click="menu.showSelectedMenu()">
        <div class="input-group-btn">
            <button class="btn btn-white" type="button" ng-click="menu.showSelectedMenu()">
                <span class="caret"></span>
            </button>
        </div>
        <div class="dropdown dropdown-3" ng-if="menu.isShow">
            <div class="level level-1">
                <ul class="panel panel-default level-1">
                    <li ng-repeat="item in menu.menuList" 
                        ng-mouseenter="menu.hoverSelectMenu(item, $event); menu.menuList3Show=false; menu.menuList1=item;" 
                        ng-click="menu.selectMenu(menu.menuList1)"
                        ng-class="{'active': menu.menuList1==item}">
                        {{item.name}}
                        <i class="fa fa-caret-right" ng-if="item.children.length!=0 && (menu.level==2||menu.level==3)"></i>
                    </li>              
                </ul>
            </div>
            <div class="level level-2">
                <ul class="panel panel-default level-2" ng-show="menu.menuList1.children && menu.menuList1.children.length!=0 && (menu.level==2||menu.level==3)">
                    <li ng-repeat="child in menu.menuList1.children" 
                        ng-mouseenter="menu.hoverSelectMenu(child, $event); menu.menuList3Show=true; menu.menuList2=child;" 
                        ng-click="menu.selectMenu(menu.menuList1, menu.menuList2)"
                        ng-class="{'active': menu.menuList2==child}">
                        {{child.name}}
                        <i class="fa fa-caret-right" ng-if="child.children.length!=0 && menu.level==3"></i>
                    </li>
                </ul>    
            </div>
            <div class="level level-3">
                <ul class="panel panel-default level-3" ng-show="menu.menuList1.children.length!=0 && menu.menuList2.children && menu.menuList2.children.length!=0 && menu.menuList3Show && menu.level==3">
                    <li ng-repeat="grandchild in menu.menuList2.children" 
                        ng-mouseenter="menu.hoverSelectMenu(grandchild, $event); menu.menuList3=grandchild;" 
                        ng-click="menu.selectMenu(menu.menuList1, menu.menuList2, menu.menuList3)"
                        ng-class="{'active': menu.menuList3==grandchild}">
                        {{grandchild.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

